<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ESS</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <div class="wrapper">
        <form action="" method="post">
            <input class="inp" type="text" name="user" placeholder="Login" autocapitalize="off">
            <input class="inp" id="pass" type="password" name="pass" placeholder="Password">
            <button id="btn">Send</button>
        </form>    
    </div>

    <script src="script.js"></script>
</body>

</html>